<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <META name="keywords" content = "<%= @seo_keywords %>" />
  <%= stylesheet_link_tag 'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<%=render 'shared/nav', location: 'top'  %>

<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<%if current_user.is_a?(User) %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete , class: "btn btn-primary" %>
<%else %>
  <%=link_to "Login",new_user_session_path, class: "btn btn-primary" %>
  <%=link_to "Register",new_user_registration_path, class: "btn btn-primary" %>
<%end %>

<%= yield %>

<p>
  <%if session[:source] %>
    Thanks for visiting me from <%=session[:source] %>
  <%  end %>
</p>

</body>
</html>
